﻿<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
</style>
<h1>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3">
                <h3 id="output" class="card-header">Current Time:</h3>
                <div class="card-body">
                    <div class="form-group">
                        <label for="zones">Timezone</label>
                        <select class="form-control" id="zones"></select>
                    </div>
                    <button class="btn btn-primary" onclick="GetTime()">Get the time</button>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card">
                <h3 class="card-header">Database logs</h3>
                <table class="table card-body">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Client IP</th>
                            <th scope="col">Time</th>
                            <th scope="col">Timezone</th>
                            <th scope="col">UTC</th>
                        </tr>
                    </thead>
                    <tbody id="list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
